services:
  db:
    image: postgres
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    shm_size: 128mb
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      - POSTGRES_USER=${DB_USER?Variable not set}
      - POSTGRES_PASSWORD=${DB_PASSWORD?Variable not set}
      - POSTGRES_DB=${DB_NAME?Variable not set}
    volumes:
      - fmt-simple-db:/var/lib/postgresql/data/pgdata
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80"
    env_file:
      - .env
    develop:
      watch:
        - path: ./app
          action: sync+restart
          target: /app/app
    depends_on:
      db:
        condition: service_healthy
        restart: true

volumes:
  fmt-simple-db:
networks:
  simple-fmt:
